.top-container{
	border: 0px;
	border-color: none;
	background-color: #FDEDEC;
	max-height: 50%;
}

.top-words{
	margin: auto;
	padding: 70px;
	padding-left: 50px;
	color: black;
}

.greeting{
	font-size: 50px;
}

.btm-container{
	border: 0px none;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.card-background{
	background-color: white;
	opacity: 0.5;
	margin-top: -500px;
	margin-left: 200px;
	max-height: 400px;
	padding: 10px;
	color: black;
}