.top-container{
	border: 0px;
	border-color: none;
	background-color: #FDEDEC;
}

.top-words{
	margin: auto;
	padding: 50px;
	padding-left: 20px;
	color: black;
}

.greeting{
	font-size: 50px;
}

.btm-container{
    background-image: url('Lights.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 0px;
    min-height: 80vh;
}

.card-background{
	background-color: white;
	opacity: 0.7;
	max-height: 400px;
	padding: 10px;
    color: black;
    margin-top: 10px;
}

.no-padding{
    padding: 0px;
}

.form-control1 {
        display: block;
        width: 100%;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition-property: border-color box-shadow;
        transition-duration: 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: initial, initial;
}
    
.Active{
    transition-property: border-color;
    border-color: rgb(253, 171, 168);
}

.tags{
    font-size: 10px;
    margin-bottom: 2px;
}

.strike{
    text-decoration: line-through;
}